---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "⭐ Homepage ⭐";
---

<BaseLayout pageTitle = {pageTitle}>
	<h2>Welcome to my Website</h2>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores deserunt quasi perferendis est soluta praesentium maxime numquam voluptatem voluptatibus! Suscipit asperiores iste velit consequuntur, modi eveniet labore odit exercitationem optio?</p>
</BaseLayout>